/* eslint-disable */
{% extends "base.html" %}

{% block content %}
  <div class="row">
  <h3>Password reset confirmation</h3><hr/>
  {% include "fragments/password_reset_confirm_form.html" %}
  </div>
{% endblock %}



{% block script %}
  <script type="text/javascript">
    const urlElements = window.location.pathname.split('/');
    console.log('urlElements ', urlElements);
    if (urlElements.length === 6) {
      var uid = urlElements[url_elements.length - 3];
      if (uid !== undefined){
        $('input[name=uid]').val(uid);
      }
      var token = urlElements[urlElements.length - 2];
      if (token !== undefined){
        $('input[name=token]').val(token);
      }
    }
  </script>
{% endblock %}
